version: '3.7'

services:
  app_proxy:
    environment:
      APP_HOST: ckpool-solo_web_1
      APP_PORT: 80
    container_name: ckpool-solo_app_proxy_1
  
  init:
    image: alpine
    entrypoint: /bin/sh -c 'apk add envsubst && cat /conf/ckpool.conf.template | envsubst > /conf/ckpool.conf && chown 1000:1000 /conf/ckpool.conf && touch /conf/.ready'
    volumes:
      - ${APP_DATA_DIR}/conf:/conf
    environment:
      - APP_BITCOIN_NODE_IP=${APP_BITCOIN_NODE_IP}
      - APP_BITCOIN_RPC_USER=${APP_BITCOIN_RPC_USER}
      - APP_BITCOIN_RPC_PASS=${APP_BITCOIN_RPC_PASS}

  ckpool:
    image: 	bboerst/ckpool-solo:master-testnet4-v1
    entrypoint: /bin/sh -c 'while [ ! -f /srv/ckpool/conf/.ready ]; do echo "Waiting for ckpool.conf to be ready..."; sleep 1; done; rm -f /tmp/ckpool/main.pid && rm -f /srv/ckpool/conf/.ready && ./bin/ckpool -B -c ./conf/ckpool.conf'
    depends_on:
      - init
    restart: on-failure
    stop_grace_period: 30s
    ports:
      - "5333:3333/tcp"
    volumes:
      - ${APP_DATA_DIR}/conf:/srv/ckpool/conf
      - ${APP_DATA_DIR}/logs:/srv/ckpool/logs
    container_name: ckpool-solo_ckpool_1
  
  web:
    image: halverneus/static-file-server
    environment:
      - FOLDER=/web
      - PORT=80
    volumes:
      - ${APP_DATA_DIR}/logs:/web
    restart: on-failure
    container_name: ckpool-solo_web_1
